* {
  font-family: "Fira Code", monospace;
  font-size: 14px; /* Smaller font size */
  background: #282c34;
  color: #ffffff;
  padding: 0px; /* Smaller padding */
  margin: 0; /* Remove extra spacing */
}

